.App {
  margin-left: 15px;
  color: white;
}

.App-header {
  font-size: calc(10px + 1vmin);
}

.Inventory-category-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  cursor: pointer;
  background-color: azure;
  color: #282c34;
  font-weight: bold;
  padding: 0px 6px 3px;
  width: fit-content;
  border-radius: 5px;
}