.App {
  color: white;
  max-width: 90%;
  margin: 0 auto;
}

.App-header {
  font-size: 16px;
}

.App-header h1 {
  text-transform: uppercase;
  width: fit-content;
  background: tomato;
  padding: 2px 5px;
  border-radius: 5px;
}

.Invetory-header p:nth-child(1) {
  margin-right: 10px;
}

.Inventory-counter-text {
  text-transform: uppercase;
  font-weight: bold;
}

.Inventory-counter-text span {
  color: tomato;
}

.Inventory-category-creator {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 75px;
  background: #2a3846;
  border-radius: 10px;
  border: solid 2px tomato;
  top: 4%;
}

.Inventory-category-creator .btn-close {
  position: relative;
  top: -40px;
  right: -8px;
}

.Inventory-category-creator label {
  margin-bottom: 10px;
  font-weight: bold;
}

.Inventory-category-creator-input {
  margin-left: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Inventory-category-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Inventory-product-creator-container {
  display: flex;
  justify-content: center;
}

.Inventory-product-creator-container .btn-close {
  position: relative;
  top: 15px;
  right: 15px;
}

.Inventory-product-creator {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 380px;
  height: 175px;
  background: #2a3846;
  border-radius: 10px;
  border: solid 2px tomato;
}

.Inventory-product-creator label {
  margin: 5px 0;
  font-weight: bold;
}

.Inventory-product-creator label span {
  color: tomato;
}

.Inventory-product-creator-input {
  display: flex;
  flex-direction: column;
}

.Inventory-product-creator-input input {
  margin: 3px 0;
  width: 255px;
}

.Inventory-products {
  display: flex;
  flex-wrap: wrap;
}

.Inventory-products-product {
  background: tomato;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 50px;
  margin: 5px;
  padding: 5px 10px;
  font-weight: bold;
}

.Inventory-products-product:hover {
  background-color: rgb(205, 59, 33);
  cursor: pointer;
}

.Inventory-products-product p:nth-child(1) {
  margin-right: 5px;
}

.Input-text {
  background-color: tomato;
  color: white;
  font-weight: bold;
  padding: 5px 12px;  
  width: fit-content;
  border-radius: 5px;
  border: none;
  width: 204px;
  outline: none;
  font-size: 16px;
  margin-right: 10px;
}

.Input-submit-category {
  background-color: tomato;
  color: white;
  font-weight: bold;
  padding: 5px 12px;  
  width: fit-content;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: 18%;
}

.Input-submit-product {
  background-color: tomato;
  color: white;
  font-weight: bold;
  padding: 5px 12px;  
  width: fit-content;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  bottom: -60px;
  right: -9px;
  margin-right: 10px;
}

.Input-submit-category:disabled, 
.Input-submit-category:disabled:hover, 
.Input-submit-product:disabled, 
.Input-submit-product:disabled:hover {
  background-color: rgb(145, 43, 25);
}

.Input-text::placeholder {
  color: white;
  font-size: 16px;
}

.transparent {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(23 24 28 / 50%);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.btn-category {
  cursor: pointer;
  background-color: tomato;
  color: white;
  font-weight: bold;
  padding: 5px 12px;  
  width: fit-content;
  border-radius: 5px;
  font-size: 16px;
  border: none;
}

.btn-product {
  cursor: pointer;
  background-color: tomato;
  color: white;
  font-weight: bold;
  padding: 2px 8px;
  font-size: 20px;
  width: fit-content;
  border-radius: 5px;
  border: none;
}

.btn-category:hover, 
.btn-product:hover, 
.App-header h1:hover, 
.Input-submit:hover {
  background-color: rgb(205, 59, 33);
}

.btn-close {
  background: #2a3846;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 9px;
  color: white;
  border: solid 2px tomato;
  cursor: pointer;
  max-height: 30px;
}

.btn-close:hover {
  background: #384859;
}